/* Default */
body {
    background-color: #272727;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

a {
    transition: 0.3s all 0s ease;
}

a:hover {
    opacity: 0.5;
}

/* Nav bar */
nav {
    margin-bottom: 20px;
    padding: 0;
    color: white;
}

a.logo-desktop {
    font-size: 35px;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

a.logo-mobile {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

span.logo-lite {
    color: rgba(255, 255, 255, 0.75);
}

a.link-nav {
    margin-right: 30px; 
    font-size: 20px;
    color: white;
    text-decoration: none;
}

img.nav-profile {
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

/* Hero */
h1.hero {
    padding: 0;
    color: white;
    font-size: 40px;
}

h2.hero {
    padding: 0;
    color: white;
    font-size: 30px;
}

.background-hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1080px;
}

a.hero-soc-med-links {
    font-size: 20px;
    color: white;
}

span.hero-typewriter {
    border-right: 0.08em solid white;
}