body {
    /* height: 100vh;
    width: 100vw; */
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
}

h1 {
    font-size: 35px;
    color: #40464d;
}

/* Splash screen */
div.splash {
    background-image: url("images/backgrounds/splash.jpg");
    background-size: cover;
}

img.splash {
    width: 25%;
    min-width: 120px;
    max-width: 160px;
}

h1.h1-splash {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
}

h2.h2-splash {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;
}

button.btn-splash {
    box-shadow: 2px 2px 4px #000000;
    background-color: #c55a11;
}

/* Main screen */
div.main {
    background-image: url("images/backgrounds/main.jpg");
    background-size: cover;
}

img.main {
    width: 100%;
    min-width: 120px;
    max-width: 160px;
}

h1.h1-main {
    font-weight: bold;
    font-size: 30px;
}