/* Default */
body {
    background-color: #272727;
    margin: 0;
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

nav {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0;
    color: white;
}

a.logo {
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

a {
    transition: 0.3s all 0s ease;
}

a:hover {
    opacity: 0.7;
}

span.logo-lite {
    color: rgba(255, 255, 255, 0.6);
}

a.link-nav {
    margin-right: 50px; 
    font-size: 20px;
    color: white;
    text-decoration: none;
}

h1 {
    padding: 0;
    color: white;
    font-size: 40px;
}

h2 {
    padding: 0;
    color: white;
    font-size: 30px;
}

#background {
    min-width:100%;
    min-height:100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}

img.main-profile {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

a.soc-med-links {
    font-size: 20px;
    color: white;
}